In [125]:
import pandas as pd
import numpy as np

In [ ]:
#Domácí úkol
#Spočítejte, kolik pasažérů má jenom jedno křestní jméno. (Nápověda: použijte funkci str.len())
#Zjistěte, ve kterém záchranném člunu bylo nejvíce lidí. (Nápověda: použijte funkci groupby() a argmax())

In [229]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')

In [ ]:
#Spočítejte, kolik pasažérů má jenom jedno křestní jméno. (Nápověda: použijte funkci str.len())

In [116]:
titanic['name_last'] = titanic['name'].str.split(',').str.get(0)

In [119]:
titanic['name_title'] = titanic['name'].str.split(',').str.get(1).str.split('.').str.get(0)

In [133]:
titanic['name_mid_first'] = titanic['name'].str.split(',').str.get(1).str.split('.').str.get(1)

In [146]:
#number of passangers with one word in first+mid name
sum(titanic['name_mid_first'].str.split().apply(len)==1)

464

In [ ]:
#Zjistěte, ve kterém záchranném člunu bylo nejvíce lidí. (Nápověda: použijte funkci groupby() a argmax())

In [234]:
boats =  titanic.dropna(subset=['boat']) #drop all perished passangers

In [253]:
boats.groupby('boat').name.count().argmax()

'13'